<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django | Home</title>
</head>
<body>
    <font face = "Times New Roman"> Soy la HomePage! <br> Hola</font>
    <font face = "Lucida Calligraphy" size = "2"> {{nombre}} {{apellido}}</font>
    <br>

    <!-- Para usar python en HTML-->
    {%for n in lista%}
        {{n}}
        <br>
    {%endfor%}

</body>
</html>